@model IEnumerable<SimlpeLibraryManagementSystem.Models.BookIssue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th>
            Issuer (Member) Name
            @*@Html.DisplayNameFor(model => model.Member.MemberName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookIssueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookIssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookIssueId })
        </td>
    </tr>
}

</table>
