@model IEnumerable<SimlpeLibraryManagementSystem.Models.LibraryViewModel>
@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @{
                    foreach (var book in item.Books)
                    {
                        @book<br />
                    }
                }

            </td>

        </tr>
                    }

</table>
